@import "var.css";

.header__title {
  text-align: center;
}
table {
  border-spacing: 0 0.5em;
  width: 100%;
  table-layout: fixed;
}
tr th {
  color: var(--text-color);
  background-color: var(--title-table-color);
}
tr td {
  background-color: var(--background-table-color);
}
tr td:first-child,
tr th:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
tr td:last-child,
tr th:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.category-icon,
.row-icon {
  fill: #424242;
}
.header-icon {
  fill: ghostwhite;
}
td,
th {
  padding: 1em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 2em;
}
/*notes table*/
.created,
.category1 {
  width: 8em;
}
.category-icon,
.active-icon {
  width: 4em;
}
/*stats table*/
.active,
.archived {
  width: 20%;
}
svg {
  max-height: 2em;
  max-width: 2em;
}

/* svg:first-child {
  background-color: var(--title-table-color);
} */

@media screen and (max-width: 800px) {
  .created,
  .dates {
    width: 0;
  }
}
